In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10690 entries, 0 to 10689
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   author_average_rating  10690 non-null  float64
 1   author_gender          10690 non-null  object
 2   author_genres          10690 non-null  object
 3   author_id              10690 non-null  int64
 4   author_name            10690 non-null  object
 5   author_page_url        10690 non-null  object
 6   author_rating_count    10690 non-null  int64
 7   author_review_count    10690 non-null  int64
 8   birthplace             10690 non-null  object
 9   book_average_rating    10690 non-null  float64
 10  book_fullurl           10690 non-null  object
 11  book_id                10690 non-null  object
 12  book_title             10690 non-null  object
 13  genre_1                10690 non-null  object
 14  genre_2                10690 non-null  object
 15  num_ratings            10690 non-null  int64
 16  num_reviews            10690 non-null  int64
 17  pages                  10690 non-null  int64
 18  publish_date           10581 non-null  object
 19  score                  10690 non-null  int64
dtypes: float64(2), int64(7), object(11)
memory usage: 1.6+ MB

In [17]:
df.drop(columns = ["author_gender", "author_average_rating", "author_genres", "author_rating_count", "author_review_count", "num_ratings", "num_reviews", "score"], inplace=True)

In [22]:
df = df[df['book_average_rating'] >= 3.5]  # removing books with average rating less than 3.5 to keep a certain quality in the recomendations
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7700 entries, 0 to 10128
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author_id            7700 non-null   int64
 1   author_name          7700 non-null   object
 2   author_page_url      7700 non-null   object
 3   birthplace           7700 non-null   object
 4   book_average_rating  7700 non-null   float64
 5   book_fullurl         7700 non-null   object
 6   book_id              7700 non-null   object
 7   book_title           7700 non-null   object
 8   genre_1              7700 non-null   object
 9   genre_2              7700 non-null   object
 10  pages                7700 non-null   int64
 11  publish_date         7608 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 782.0+ KB

In [23]:
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7700 entries, 0 to 10128
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author_id            7700 non-null   int64
 1   author_name          7700 non-null   object
 2   author_page_url      7700 non-null   object
 3   birthplace           7700 non-null   object
 4   book_average_rating  7700 non-null   float64
 5   book_fullurl         7700 non-null   object
 6   book_id              7700 non-null   object
 7   book_title           7700 non-null   object
 8   genre_1              7700 non-null   object
 9   genre_2              7700 non-null   object
 10  pages                7700 non-null   int64
 11  publish_date         7608 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 782.0+ KB

In [28]:
df.reset_index(drop=True)
df.head()

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,publish_date
0,74489,Victoria Thompson,/author/show/74489.Victoria_Thompson,USA and Canada,4.02,https://www.goodreads.com/book/show/686717.Mur...,686717,Murder on St. Mark's Place,Mystery,Historical,277,2000
1,5618190,Mimi Jean Pamfiloff,/author/show/5618190.Mimi_Jean_Pamfiloff,USA and Canada,3.99,https://www.goodreads.com/book/show/27833684-t...,27833684,Tailored for Trouble,Romance,Contemporary,354,2016
2,36122,Patricia C. Wrede,/author/show/36122.Patricia_C_Wrede,USA and Canada,4.01,https://www.goodreads.com/book/show/64207.Sorc...,64207,Sorcery & Cecelia: or The Enchanted Cho...,Fantasy,Young Adult,326,April 15th 1988
3,4833990,Jillian Dodd,/author/show/4833990.Jillian_Dodd,Unknown,3.95,https://www.goodreads.com/book/show/34804503-s...,34804503,Stalk Me,Young Adult,Romance,327,August 20th 2012
4,7956,Mary Roach,/author/show/7956.Mary_Roach,USA and Canada,3.84,https://www.goodreads.com/book/show/5981308-bonk,5981308,Bonk: The Curious Coupling of Science a...,Nonfiction,Science,319,2008

In [29]:
df['year_publication'] = df['publish_date'].str[-4:] # Getting only the year of publication
df['year_publication'].unique()

array(['2000', '2016', '1988', '2012', '2008', '1993', '2007', '2006',
       '2010', '2014', '2013', '1987', '2011', '1974', '2002', '1957',
       '1992', '2003', '2009', '1997', '1938', '1813', '1868', '1943',
       '1963', '1989', '2001', '2005', '2004', nan, '1936', '2015',
       '1995', '1980', '1978', '1994', '1998', 'by', '1981', '1982',
       '1970', '1905', '1976', '1983', '1977', '1986', '1962', '2018',
       '1999', '2017', '1967', '1918', '1937', '1818', '1847', '1947',
       '1960', '1961', '1990', '1996', '1949', '1935', '1985', '1944',
       '1954', '1945', '1908', '1973', '1972', '1971', '1877', '1959',
       '1948', '1991', '1922', '29th', '2nd', '7th', '5th', '4th', '30th',
       '10th', '2019', '1984', '1927', '1931', '1934', '1975', '1923',
       '1930', '1955', '1942', '1902', '1920', '1855', '1952', '1964',
       '1880', '1892', '3rd', '26th', '1871', '1968', '1932', '1979',
       '1830', '1899', '1848', '1925', '1792', '1969', '1953', '1940',
       '1950', '1956', '1911', '1965', '1929', '1966', '1915', '1894',
       '1008', '1939', '1958', '1862', '1797', '1307', '1861', '1900',
       '1951', '1811', '-600', '1917', '1850', '1890', '12th', '25th',
       '19th', '1st', '1926', '9th', '1928', '1893', '1817', '1853',
       '1924', '1913', '1901', '1921', '1933', '1903', '1906', '11th',
       '1879', '1946', '1393', '1898', '1778', '1912', '1916', '23rd',
       '27th', '18th', '6th', '28th', '1801', '21st', '14th', '1897',
       '1865', '1941', 'd 17'], dtype=object)

In [54]:
# I checked in Goodreads that the publication dates with only days belong to books released in 2019. Probably an error in the API that affected the data gathering.

def cleaning_date(i):
    if i in ['29th', '2nd', '7th', '5th', '4th', '30th','10th', '26th', '9th', '11th', '23rd',
       '27th', '18th', '6th', '28th', '21st', '14th', '12th', '25th', '1st', '3rd']:
        return '2019'
    elif i == 'by': # these books don't have publication dates on the dataset, so these are null
        return 0
    else:
        return i

In [55]:
df['year_publication'] = list(map(cleaning_date, df['year_publication']))
df['year_publication'].unique()

array(['2000', '2016', '1988', '2012', '2008', '1993', '2007', '2006',
       '2010', '2014', '2013', '1987', '2011', '1974', '2002', '1957',
       '1992', '2003', '2009', '1997', '1938', '1813', '1868', '1943',
       '1963', '1989', '2001', '2005', '2004', nan, '1936', '2015',
       '1995', '1980', '1978', '1994', '1998', 0, '1981', '1982', '1970',
       '1905', '1976', '1983', '1977', '1986', '1962', '2018', '1999',
       '2017', '1967', '1918', '1937', '1818', '1847', '1947', '1960',
       '1961', '1990', '1996', '1949', '1935', '1985', '1944', '1954',
       '1945', '1908', '1973', '1972', '1971', '1877', '1959', '1948',
       '1991', '1922', '2019', '1984', '1927', '1931', '1934', '1975',
       '1923', '1930', '1955', '1942', '1902', '1920', '1855', '1952',
       '1964', '1880', '1892', '1871', '1968', '1932', '1979', '1830',
       '1899', '1848', '1925', '1792', '1969', '1953', '1940', '1950',
       '1956', '1911', '1965', '1929', '1966', '1915', '1894', '1008',
       '1939', '1958', '1862', '1797', '1307', '1861', '1900', '1951',
       '1811', '-600', '1917', '1850', '1890', '19th', '1926', '1928',
       '1893', '1817', '1853', '1924', '1913', '1901', '1921', '1933',
       '1903', '1906', '1879', '1946', '1393', '1898', '1778', '1912',
       '1916', '1801', '1897', '1865', '1941'], dtype=object)

In [56]:
df.loc[df['year_publication'] == 'd 17', 'year_publication'] = '2014' # checked the right date on Goodreads

In [57]:
df['year_publication'].unique()

array(['2000', '2016', '1988', '2012', '2008', '1993', '2007', '2006',
       '2010', '2014', '2013', '1987', '2011', '1974', '2002', '1957',
       '1992', '2003', '2009', '1997', '1938', '1813', '1868', '1943',
       '1963', '1989', '2001', '2005', '2004', nan, '1936', '2015',
       '1995', '1980', '1978', '1994', '1998', 0, '1981', '1982', '1970',
       '1905', '1976', '1983', '1977', '1986', '1962', '2018', '1999',
       '2017', '1967', '1918', '1937', '1818', '1847', '1947', '1960',
       '1961', '1990', '1996', '1949', '1935', '1985', '1944', '1954',
       '1945', '1908', '1973', '1972', '1971', '1877', '1959', '1948',
       '1991', '1922', '2019', '1984', '1927', '1931', '1934', '1975',
       '1923', '1930', '1955', '1942', '1902', '1920', '1855', '1952',
       '1964', '1880', '1892', '1871', '1968', '1932', '1979', '1830',
       '1899', '1848', '1925', '1792', '1969', '1953', '1940', '1950',
       '1956', '1911', '1965', '1929', '1966', '1915', '1894', '1008',
       '1939', '1958', '1862', '1797', '1307', '1861', '1900', '1951',
       '1811', '-600', '1917', '1850', '1890', '19th', '1926', '1928',
       '1893', '1817', '1853', '1924', '1913', '1901', '1921', '1933',
       '1903', '1906', '1879', '1946', '1393', '1898', '1778', '1912',
       '1916', '1801', '1897', '1865', '1941'], dtype=object)

In [58]:
df.to_csv("dataset_clean3.csv", index = False)

In [59]:
df['genre_1'].unique()

array(['Mystery', 'Romance', 'Fantasy', 'Young Adult', 'Nonfiction',
       'Paranormal', 'Historical', 'Science Fiction', 'Fiction',
       'Classics', 'New Adult', 'Contemporary', 'Womens Fiction',
       'Horror', 'Autobiography', 'Humor', 'Sequential Art', 'Lgbt',
       'Sports and Games', 'War', 'Dark', 'Childrens',
       'Christian Fiction', 'Warfare', 'Biography', 'Adult Fiction',
       'Short Stories', 'Animals', 'Shapeshifters', 'Self Help', 'Music',
       'Politics', 'Mental Health', 'Erotica', 'Crime', 'Travel',
       'History', 'Language', 'Poetry', 'Novels', 'Feminism', 'Thriller',
       'Mythology', 'World War II', 'Anthologies', 'Death',
       'Magical Realism', 'Christian', 'Realistic Fiction', 'Suspense',
       'Category Romance', 'Cultural', 'Science Fiction Fantasy', 'Amish',
       'Holiday', 'Psychology', 'Philosophy', 'Glbt', 'Sexuality',
       'Parenting', 'Gardening', 'Spirituality', 'Literary Fiction',
       'Novella', 'Asian Literature', 'Sociology', 'Business',
       'Food and Drink', 'Media Tie In', 'Health', 'Religion',
       'Biblical Fiction', 'Couture', 'Adventure', 'Literature',
       'Writing', 'Polyamorous', 'Retellings', 'Westerns', 'Dark Fantasy',
       'Comics', 'Inspirational', 'Drama', 'Unfinished', 'Sports', 'Art',
       'Economics', 'Social Science', 'Manga'], dtype=object)

In [61]:
df['fiction_nonfiction'] = df['genre_1']
df

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,publish_date,year_publication,fiction_nonfiction
0,74489,Victoria Thompson,/author/show/74489.Victoria_Thompson,USA and Canada,4.02,https://www.goodreads.com/book/show/686717.Mur...,686717,Murder on St. Mark's Place,Mystery,Historical,277,2000,2000,Mystery
1,5618190,Mimi Jean Pamfiloff,/author/show/5618190.Mimi_Jean_Pamfiloff,USA and Canada,3.99,https://www.goodreads.com/book/show/27833684-t...,27833684,Tailored for Trouble,Romance,Contemporary,354,2016,2016,Romance
2,36122,Patricia C. Wrede,/author/show/36122.Patricia_C_Wrede,USA and Canada,4.01,https://www.goodreads.com/book/show/64207.Sorc...,64207,Sorcery & Cecelia: or The Enchanted Cho...,Fantasy,Young Adult,326,April 15th 1988,1988,Fantasy
3,4833990,Jillian Dodd,/author/show/4833990.Jillian_Dodd,Unknown,3.95,https://www.goodreads.com/book/show/34804503-s...,34804503,Stalk Me,Young Adult,Romance,327,August 20th 2012,2012,Young Adult
4,7956,Mary Roach,/author/show/7956.Mary_Roach,USA and Canada,3.84,https://www.goodreads.com/book/show/5981308-bonk,5981308,Bonk: The Curious Coupling of Science a...,Nonfiction,Science,319,2008,2008,Nonfiction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10124,12020546,S.D. Wasley,/author/show/12020546.S_D_Wasley,Oceania,4.05,https://www.goodreads.com/book/show/24474924-t...,24474924,The Seventh,Young Adult,Fantasy,262,2015,2015,Young Adult
10125,8386732,Victoria Zak,/author/show/8386732.Victoria_Zak,Unknown,4.22,https://www.goodreads.com/book/show/23552511-h...,23552511,Highland Storm,Romance,Romance,232,2015,2015,Romance
10126,108007,Dakota Cassidy,/author/show/108007.Dakota_Cassidy,Unknown,3.82,https://www.goodreads.com/book/show/24614174-g...,24614174,Gotta Have Faith,Fantasy,Romance,72,2015,2015,Fantasy
10127,6543639,Krystal Shannan,/author/show/6543639.Krystal_Shannan,USA and Canada,3.73,https://www.goodreads.com/book/show/35892811-m...,35892811,My Viking Vampire,Fantasy,Paranormal,237,January 1st 2014,2014,Fantasy
10128,5246010,Bryce Evans,/author/show/5246010.Bryce_Evans,Unknown,3.89,https://www.goodreads.com/book/show/17187320-t...,17187320,The Trinity,Fantasy,Paranormal,222,December 28th 2012,2012,Fantasy

In [78]:
df.reset_index(drop=True)

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,publish_date,year_publication,fiction_nonfiction
0,74489,Victoria Thompson,/author/show/74489.Victoria_Thompson,USA and Canada,4.02,https://www.goodreads.com/book/show/686717.Mur...,686717,Murder on St. Mark's Place,Mystery,Historical,277,2000,2000,Mystery
1,5618190,Mimi Jean Pamfiloff,/author/show/5618190.Mimi_Jean_Pamfiloff,USA and Canada,3.99,https://www.goodreads.com/book/show/27833684-t...,27833684,Tailored for Trouble,Romance,Contemporary,354,2016,2016,Romance
2,36122,Patricia C. Wrede,/author/show/36122.Patricia_C_Wrede,USA and Canada,4.01,https://www.goodreads.com/book/show/64207.Sorc...,64207,Sorcery & Cecelia: or The Enchanted Cho...,Fantasy,Young Adult,326,April 15th 1988,1988,Fantasy
3,4833990,Jillian Dodd,/author/show/4833990.Jillian_Dodd,Unknown,3.95,https://www.goodreads.com/book/show/34804503-s...,34804503,Stalk Me,Young Adult,Romance,327,August 20th 2012,2012,Young Adult
4,7956,Mary Roach,/author/show/7956.Mary_Roach,USA and Canada,3.84,https://www.goodreads.com/book/show/5981308-bonk,5981308,Bonk: The Curious Coupling of Science a...,Nonfiction,Science,319,2008,2008,Nonfiction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7695,12020546,S.D. Wasley,/author/show/12020546.S_D_Wasley,Oceania,4.05,https://www.goodreads.com/book/show/24474924-t...,24474924,The Seventh,Young Adult,Fantasy,262,2015,2015,Young Adult
7696,8386732,Victoria Zak,/author/show/8386732.Victoria_Zak,Unknown,4.22,https://www.goodreads.com/book/show/23552511-h...,23552511,Highland Storm,Romance,Romance,232,2015,2015,Romance
7697,108007,Dakota Cassidy,/author/show/108007.Dakota_Cassidy,Unknown,3.82,https://www.goodreads.com/book/show/24614174-g...,24614174,Gotta Have Faith,Fantasy,Romance,72,2015,2015,Fantasy
7698,6543639,Krystal Shannan,/author/show/6543639.Krystal_Shannan,USA and Canada,3.73,https://www.goodreads.com/book/show/35892811-m...,35892811,My Viking Vampire,Fantasy,Paranormal,237,January 1st 2014,2014,Fantasy
7699,5246010,Bryce Evans,/author/show/5246010.Bryce_Evans,Unknown,3.89,https://www.goodreads.com/book/show/17187320-t...,17187320,The Trinity,Fantasy,Paranormal,222,December 28th 2012,2012,Fantasy

In [97]:
df.to_csv('dataset3.csv', index = False)

In [98]:
df.loc[df['year_publication'] == 'Nonfiction']

Empty DataFrame
Columns: [author_id, author_name, author_page_url, birthplace, book_average_rating, book_fullurl, book_id, book_title, genre_1, genre_2, pages, publish_date, year_publication, fiction_nonfiction]
Index: []