In [35]:
import pandas as pd

In [113]:
df2 = pd.read_csv('df2.csv')
df2

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,year_publication,fiction_nonfiction
0,7956,Mary Roach,/author/show/7956.Mary_Roach,USA and Canada,3.84,https://www.goodreads.com/book/show/5981308-bonk,5981308,Bonk: The Curious Coupling of Science a...,Nonfiction,Science,319,2008.0,Nonfiction
1,925098,Jennifer Storm,/author/show/925098.Jennifer_Storm,Unknown,3.72,https://www.goodreads.com/book/show/2034321.Bl...,2034321,Blackout Girl: Growing Up and Drying Ou...,Autobiography,Nonfiction,280,2008.0,Nonfiction
2,14577,Jen Lancaster,/author/show/14577.Jen_Lancaster,USA and Canada,4.07,https://www.goodreads.com/book/show/2202049.Su...,2202049,Such a Pretty Fat: One Narcissist's Que...,Nonfiction,Womens Fiction,400,2008.0,Nonfiction
3,3275,Jeannette Walls,/author/show/3275.Jeannette_Walls,USA and Canada,4.26,https://www.goodreads.com/book/show/7445.The_G...,7445,The Glass Castle,Nonfiction,Autobiography,288,2005.0,Nonfiction
4,11679,Elizabeth Gilbert,/author/show/11679.Elizabeth_Gilbert,USA and Canada,3.53,https://www.goodreads.com/book/show/19501.Eat_...,19501,"Eat, Pray, Love",Nonfiction,Autobiography,334,2006.0,Nonfiction
...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,8352,Joyce Meyer,/author/show/8352.Joyce_Meyer,USA and Canada,4.48,https://www.goodreads.com/book/show/1604003.Ne...,1604003,"New Day, New You: 366 Devotions for Enj...",Christian,Self Help,384,2007.0,Nonfiction
437,6831459,Jennifer Howard,/author/show/6831459.Jennifer_Howard,Unknown,4.22,https://www.goodreads.com/book/show/14349032-y...,14349032,Your Ultimate Life Plan: How to Deeply ...,Self Help,See top shelves…,288,2012.0,Nonfiction
438,4123171,Banani Ray,/author/show/4123171.Banani_Ray,Asia,4.79,https://www.goodreads.com/book/show/8596181-aw...,8596181,Awakening Inner Guru,Spirituality,Inspirational,232,2010.0,Nonfiction
439,931248,Karen Whitelaw Smith,/author/show/931248.Karen_Whitelaw_Smith,Europe,3.78,https://www.goodreads.com/book/show/5002584-th...,5002584,The Butterfly Experience,Self Help,Nonfiction,192,2007.0,Nonfiction
440,372995,Anita Heiss,/author/show/372995.Anita_Heiss,Oceania,3.81,https://www.goodreads.com/book/show/13570665-a...,13570665,Am I Black Enough For You?,Nonfiction,Autobiography,346,2012.0,Nonfiction

In [272]:
df2['genre_1'].unique()

array(['Science', 'Biography & Autobiography', 'Writing', 'History',
       'Animals', 'Self Help', 'Humor', 'Travel', 'Feminism',
       'Food and Drink', 'Religion & Spirituality', 'Childrens'],
      dtype=object)

In [32]:
df2['genre_2'].unique()

array(['Science', 'Nonfiction', 'Womens Fiction', 'Autobiography',
       'Classics', 'Writing', 'Romance', 'Biography', 'History',
       'Animals', 'Language', 'Health', 'Humor', 'See top shelves…',
       'Crime', 'Politics', 'Cultural', 'Fiction', 'World War II',
       'Relationships', 'Young Adult', 'Feminism', 'Psychology',
       'Food and Drink', 'Christian Fiction', 'Martial Arts',
       'Spirituality', 'Short Stories', 'Religion', 'Self Help',
       'North American Hi...', 'Horror', 'Buddhism', 'Couture',
       'Sports and Games', 'Travel', 'Lgbt', 'Childrens',
       'Military History', 'Fantasy', 'Sociology', 'War', 'Medical',
       'Contemporary', 'Economics', 'Christian', 'Art', 'Environment',
       'Death', 'Asian Literature', 'Mental Health', 'English History',
       'Inspirational'], dtype=object)

In [114]:
df2.loc[df2['genre_1'] == 'Historical Fiction']

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,year_publication,fiction_nonfiction
404,7222939,Bradette Michel,/author/show/7222939.Bradette_Michel,USA and Canada,4.38,https://www.goodreads.com/book/show/24958417-f...,24958417,For Their Own Good,Historical Fiction,Health,249,2015.0,Nonfiction

In [115]:
df2 = df2.drop(df2[df2['genre_1'] == 'Fantasy'].index)

In [116]:
df2 = df2.drop(df2[df2['genre_1'] == 'Romance'].index)

In [117]:
df2 = df2.drop(df2[df2['genre_1'] == 'Historical Fiction'].index)

In [118]:
df2.loc[df2['genre_1'] == 'Autobiography', 'genre_1'] = 'Biography & Autobiography'

In [119]:
df2.loc[df2['genre_1'] == 'Biography', 'genre_1'] = 'Biography & Autobiography'

In [120]:
df2.loc[df2['genre_1'] == 'Politics']

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,year_publication,fiction_nonfiction
17,2761,Ann Coulter,/author/show/2761.Ann_Coulter,USA and Canada,3.59,https://www.goodreads.com/book/show/6076107-gu...,6076107,"Guilty: Liberal ""Victims"" and Their Ass...",Politics,Nonfiction,496,2008.0,Nonfiction
283,2040815,Sarah Palin,/author/show/2040815.Sarah_Palin,USA and Canada,3.59,https://www.goodreads.com/book/show/8175807-am...,8175807,America by Heart: Reflections on Family...,Politics,Nonfiction,304,2010.0,Nonfiction

In [121]:
df2 = df2.drop(df2[df2['genre_1'] == 'Politics'].index)

In [122]:
df2.loc[df2['genre_1'] == 'Mental Health']

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,year_publication,fiction_nonfiction
18,3352591,Christine Dzidrums,/author/show/3352591.Christine_Dzidrums,Unknown,4.00,https://www.goodreads.com/book/show/10302287-c...,10302287,Cutters Don't Cry,Mental Health,Health,132,2010.0,Nonfiction
277,8309933,Natasha Jennings,/author/show/8309933.Natasha_Jennings,Oceania,3.95,https://www.goodreads.com/book/show/22484285-b...,22484285,Beautiful Me,Mental Health,Nonfiction,342,2014.0,Nonfiction

In [123]:
df2 = df2.drop(df2[df2['genre_1'] == 'Mental Health'].index)

In [124]:
df2.loc[df2['genre_1'] == 'World War II', 'genre_1'] = 'History'

In [125]:
df2 = df2.drop(df2[df2['book_title'] == 'Woman at Point Zero'].index)

In [126]:
df2.loc[df2['genre_1'] == 'Christian', 'genre_1'] = 'Religion'

In [127]:
df2 = df2.drop(df2[df2['author_name'] =='Richard J. Foster '].index)

In [128]:
df2.loc[df2['genre_1'] == 'Philosophy', 'genre_1'] = 'History'

In [129]:
def cleaning_cultural(df, col1, col2,):
    conditions1 = (df[col1] == 'Cultural') & (df[col2] == 'Travel')
    df.loc[conditions1, col1] = 'Travel'

    conditions2 = (df[col1] == 'Cultural') & (df[col2].isin(['Nonfiction', 'Autobiography']))
    df.loc[conditions2, col1] = 'Biography & Autobiography'

In [130]:
cleaning_cultural(df2, 'genre_1', 'genre_2')

In [131]:
df2 = df2.drop(df2[df2['book_id'] == '168766'].index)

In [138]:
df2.loc[df2['genre_1'] == 'Spirituality', 'genre_1'] = 'Religion & Spirituality'

In [133]:
df2 = df2.drop(df2[df2['genre_1'] == 'Sexuality'].index)

In [139]:
df2.loc[df2['genre_1'] == 'Religion', 'genre_1'] = 'Religion & Spirituality'

In [147]:
df2.loc[df2['genre_1'] == 'Business', 'genre_1'] = 'Self Help'

In [142]:
df2 = df2.drop(df2[df2['genre_1'] == 'Animals'].index)

In [145]:
df2 = df2.drop(df2[df2['book_id'] == '22913902'].index)

In [150]:
df2.loc[df2['genre_1'] == 'Art']

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,year_publication,fiction_nonfiction
332,103706,Laurie Lisle,/author/show/103706.Laurie_Lisle,USA and Canada,4.10,https://www.goodreads.com/book/show/355904.Por...,355904,Portrait of an Artist: A Biography of G...,Art,Biography,408,1980.0,Nonfiction
338,4114862,S.A.R.K.,/author/show/4114862.S_A_R_K_,Unknown,3.98,https://www.goodreads.com/book/show/164862.Cre...,164862,Creative Companion: How to Free Your Cr...,Art,Self Help,80,1991.0,Nonfiction
415,6573685,Isis Sousa,/author/show/6573685.Isis_Sousa,Latin America,4.57,https://www.goodreads.com/book/show/16133621-a...,16133621,Art of Isis Sousa & Guests: Fantasy Dig...,Art,Nonfiction,120,NaN,Nonfiction

In [151]:
df2 = df2.drop(df2[df2['book_id'] == '16133621'].index)

In [152]:
def cleaning_art(df, col1, col2,):
    conditions1 = (df[col1] == 'Art') & (df[col2] == 'Self Help')
    df.loc[conditions1, col1] = 'Self Help'

    conditions2 = (df[col1] == 'Art') & (df[col2] == 'Biography')
    df.loc[conditions2, col1] = 'Biography & Autobiography'

In [153]:
cleaning_art(df2, 'genre_1', 'genre_2')

In [156]:
df2 = df2.drop(df2[df2['genre_1'] == 'Economics'].index)

In [159]:
df2 = df2.drop(df2[df2['genre_1'] == 'Social Science'].index)

In [160]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 0 to 440
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author_id            425 non-null    int64
 1   author_name          425 non-null    object
 2   author_page_url      425 non-null    object
 3   birthplace           425 non-null    object
 4   book_average_rating  425 non-null    float64
 5   book_fullurl         425 non-null    object
 6   book_id              425 non-null    object
 7   book_title           425 non-null    object
 8   genre_1              425 non-null    object
 9   genre_2              425 non-null    object
 10  pages                425 non-null    int64
 11  year_publication     424 non-null    float64
 12  fiction_nonfiction   425 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 46.5+ KB

In [214]:
df2['year_publication'].unique()

array([2008, 2005, 2006, 1947, 1970, 1998, 1971, 2010, 2009, 2013, 1960,
       2003, 1994, 1993, 2012, 2011, 1902, 2019, 1996, 1997, 1995, 1962,
       2004, 1792, 1963, 1949, 2000, 2001, 2007, 1942, 1937, 1969, 1975,
       1986, 2002, 1999, 1991, 1987, 1982, 2014, 1981, 1989, 2016, 1307,
       1980, 1978, 1861, 1966, 1992, 1955, 1990, 2015, 2018, 1979, 1985,
       1984, 1973, 1976, 1988, 1954, 1968, 1931, 1939, 2017, 1933, 1879,
       1965, 1934, 1393, 1898, 1959, 1938])

In [176]:
df2.isna().sum()

author_id              0
author_name            0
author_page_url        0
birthplace             0
book_average_rating    0
book_fullurl           0
book_id                0
book_title             0
genre_1                0
genre_2                0
pages                  0
year_publication       0
fiction_nonfiction     0
dtype: int64

In [175]:
df2.loc[df2['year_publication'].isnull(), 'year_publication'] = '2012'

In [208]:
df2.loc[df2['year_publication'] == 0, 'year_publication'] = '2001'

In [200]:
df2.loc[df2['book_id'] == '1184484', 'year_publication'] = '2006'

In [205]:
df2.loc[df2['book_id'] == '29534348', 'year_publication'] = '2016'

In [206]:
df2.loc[df2['book_id'] == '29534348']

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,year_publication,fiction_nonfiction
154,15066147,Amelia Bert,/author/show/15066147.Amelia_Bert,Unknown,4.36,https://www.goodreads.com/book/show/29534348-t...,29534348,The Truth of All that Is: The Angel boo...,Religion & Spirituality,Nonfiction,278,2016,Nonfiction

In [192]:
df2 = df2.drop(df2[df2['book_id'] == "18295750']"].index)

In [212]:
df2['year_publication'] = df2['year_publication'].astype(int)

In [213]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 440
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author_id            424 non-null    object
 1   author_name          424 non-null    object
 2   author_page_url      424 non-null    object
 3   birthplace           424 non-null    object
 4   book_average_rating  424 non-null    object
 5   book_fullurl         424 non-null    object
 6   book_id              424 non-null    object
 7   book_title           424 non-null    object
 8   genre_1              424 non-null    object
 9   genre_2              424 non-null    object
 10  pages                424 non-null    object
 11  year_publication     424 non-null    int64
 12  fiction_nonfiction   424 non-null    object
dtypes: int64(1), object(12)
memory usage: 46.4+ KB

In [215]:
df2.to_csv('df2_clean.csv', index=False)

In [216]:
df2 = pd.read_csv('df2_clean.csv')

In [271]:
df2 = df2.drop(df2[df2['genre_1'] == 'Nonfiction'].index)

In [257]:
def cleaning_nonfiction(df, col1, col2,):
    conditions1 = (df[col1] == 'Nonfiction') & (df[col2].isin(['Autobiography', 'Biography', 'Classics']))
    df.loc[conditions1, col1] = 'Biography & Autobiography'

    conditions2 = (df[col1] == 'Nonfiction') & (df[col2].isin(['Religion', 'Spirituality', 'Christian']))
    df.loc[conditions2, col1] = 'Religion & Spirituality'

In [258]:
cleaning_nonfiction(df2, 'genre_1', 'genre_2')

In [268]:
def cleaning_nonfiction(df, col1, col2,):
    conditions1 = (df[col1] == 'Nonfiction') & (df[col2].isin(['History','World War II', 'Politics']))
    df.loc[conditions1, col1] = 'History'

    conditions2 = (df[col1] == 'Nonfiction') & (df[col2] == 'Animals')
    df.loc[conditions2, col1] = 'Animals'
    
    conditions2 = (df[col1] == 'Nonfiction') & (df[col2] == 'Childrens')
    df.loc[conditions2, col1] = 'Childrens'
    
    conditions2 = (df[col1] == 'Nonfiction') & (df[col2].isin(['Self Help', 'Inspirational']))
    df.loc[conditions2, col1] = 'Self Help'
    
    conditions2 = (df[col1] == 'Nonfiction') & (df[col2] == 'Humor')
    df.loc[conditions2, col1] = 'Humor'
    
    conditions2 = (df[col1] == 'Nonfiction') & (df[col2] == 'Travel')
    df.loc[conditions2, col1] = 'Travel'
    
    conditions2 = (df[col1] == 'Nonfiction') & (df[col2].isin(['Writing', 'Language', 'Art']))
    df.loc[conditions2, col1] = 'Writing'
    
    conditions2 = (df[col1] == 'Nonfiction') & (df[col2] == 'Feminism')
    df.loc[conditions2, col1] = 'Feminism'
    
    conditions2 = (df[col1] == 'Nonfiction') & (df[col2] == 'Food and Drink')
    df.loc[conditions2, col1] = 'Food and Drink'
    
    conditions2 = (df[col1] == 'Nonfiction') & (df[col2] == 'Science')
    df.loc[conditions2, col1] = 'Science'

In [269]:
cleaning_nonfiction(df2, 'genre_1', 'genre_2')

In [274]:
df2.loc[df2['genre_1'] == 'Science']

,author_id,author_name,author_page_url,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,pages,year_publication,fiction_nonfiction
0,7956,Mary Roach,/author/show/7956.Mary_Roach,USA and Canada,3.84,https://www.goodreads.com/book/show/5981308-bonk,5981308,Bonk: The Curious Coupling of Science a...,Science,Science,319,2008,Nonfiction
21,2940640,Rebecca Skloot,/author/show/2940640.Rebecca_Skloot,USA and Canada,4.05,https://www.goodreads.com/book/show/6493208-th...,6493208,The Immortal Life of Henrietta Lacks,Science,Science,370,2010,Nonfiction
33,15332,Rachel Carson,/author/show/15332.Rachel_Carson,USA and Canada,3.96,https://www.goodreads.com/book/show/27333.Sile...,27333,Silent Spring,Science,Science,378,1962,Nonfiction
70,7956,Mary Roach,/author/show/7956.Mary_Roach,USA and Canada,3.94,https://www.goodreads.com/book/show/9542311-pa...,9542311,Packing for Mars: The Curious Science o...,Science,Science,334,2010,Nonfiction
126,7382113,Judy Melinek,/author/show/7382113.Judy_Melinek,Unknown,4.15,https://www.goodreads.com/book/show/18775327-w...,18775327,"Working Stiff: Two Years, 262 Bodies, a...",Science,Science,258,2014,Nonfiction
128,82111,Jill Bolte Taylor,/author/show/82111.Jill_Bolte_Taylor,USA and Canada,3.87,https://www.goodreads.com/book/show/142292.My_...,142292,My Stroke of Insight: A Brain Scientist...,Science,Science,188,2006,Nonfiction
132,18163,Jane Goodall,/author/show/18163.Jane_Goodall,Europe,4.34,https://www.goodreads.com/book/show/135486.In_...,135486,In the Shadow of Man,Science,Science,297,1971,Nonfiction
150,14104736,Hope Jahren,/author/show/14104736.Hope_Jahren,Unknown,4.03,https://www.goodreads.com/book/show/25733983-l...,25733983,"Lab Girl: A story of Trees, Science and...",Science,Science,304,2016,Nonfiction
306,7956,Mary Roach,/author/show/7956.Mary_Roach,USA and Canada,3.58,https://www.goodreads.com/book/show/14990.Spook,14990,Spook: Science Tackles the Afterlife,Science,Science,311,2005,Nonfiction
322,82111,Jill Bolte Taylor,/author/show/82111.Jill_Bolte_Taylor,USA and Canada,3.87,https://www.goodreads.com/book/show/142292.My_...,142292,My Stroke of Insight: A Brain Scientist...,Science,Science,184,2006,Nonfiction

In [276]:
df2.to_csv('df2_final.csv', index=False)